---
# Step 1. Installing containerd
# tasks file for download-and-install-containerd-binaries
- name: Download and extract the containerd tarball
  unarchive:
    src: https://github.com/containerd/containerd/releases/download/v2.1.4/containerd-2.1.4-linux-amd64.tar.gz
    dest: /usr/local
    remote_src: yes
  become: true

- name: Create containerd service
  blockinfile:
    path: /etc/systemd/system/containerd.service
    block: |
      [Unit]
      Description=containerd container runtime
      Documentation=https://containerd.io
      After=network.target dbus.service

      [Service]
      ExecStartPre=-/sbin/modprobe overlay
      ExecStart=/usr/local/bin/containerd

      Type=notify
      Delegate=yes
      KillMode=process
      Restart=always
      RestartSec=5

      LimitNPROC=infinity
      LimitCORE=infinity

      TasksMax=infinity
      OOMScoreAdjust=-999

      [Install]
      WantedBy=multi-user.target
    create: yes
    state: present
  become: true
  register: service_status

- block:
    - name: Reload systemd daemon
      command: systemctl daemon-reload
    - name: Enable and start the containerd service
      service:
        name: containerd
        enabled: yes
        state: restarted
  when: service_status.changed

---
# Step 2. Installing runc
# tasks file for install-runc-for-containerd
- name: Ensure the /usr/local/sbin directory exists
  file:
    path: /usr/local/sbin
    state: directory
    mode: "0755"
  notify: Restart containerd

- name: Download runc.amd64 binary
  get_url:
    url: https://github.com/opencontainers/runc/releases/download/v1.3.2/runc.amd64
    dest: /usr/local/sbin/runc
    mode: "0755"
  notify: Restart containerd

---
# Step 3. Installing CNI plugins
# tasks file for install-cni-plugins-for-containerd
- name: Ensure the /opt/cni/bin directory exists
  file:
    path: /opt/cni/bin
    state: directory
    mode: "0755"
  become: true

- name: Install CNI plugins
  unarchive:
    src: https://github.com/containernetworking/plugins/releases/download/v1.8.0/cni-plugins-linux-amd64-v1.8.0.tgz
    dest: /opt/cni/bin
    remote_src: yes
  become: true
  notify: Restart containerd

---
# Step 4. Configuring the systemd cgroup driver
# tasks file for configure systemd cgroup
- name: Ensure SystemdCgroup is set
  replace:
    path: /etc/containerd/config.toml
    regexp: '^(\s*SystemdCgroup\s*=\s*)false'
    replace: '\1true'
  notify: Restart containerd
